<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Text Upload</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1>Shorten Your Link</h1>
        <button class="home-button" onclick="location.href='/'">Go to Homepage</button>
    </header>
    <main>
        <script>
            function sendLink() {
                var long_link = document.getElementById('long').value

               // var file = document.getElementById('file_input').files[0];
               // if (file) {
               //     var reader = new FileReader();
               //     try {
               //     const content = await readFileAsText(file);
               //     } catch (err) {
               //     console.error("Error reading file:", err);
               // }
               //     formData = formData + "\n" + reader.result
               // }
                console.log("/links\\?url\="+long_link)
                $.ajax({
                    type: "POST",
                    url: "/links\\?url\="+long_link,
                    success: function(response){
                        var paragraph = document.getElementById('link');
                        paragraph.textContent = response;
                    },
                });
            }
        </script>
        <section class="upload-section">
            <form id="paste">
                <label for="text_area">Paste your link here:</label><br>
                <input type="text" id="long" name="long_link" size="50" placeholder="https://github.com/"><br>
                <input type="button" value="Create" onclick="sendLink()">
            </form>
            <p id="link">

            </p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 pspbalsaas</p>
    </footer>
</body>
</html>